body {
  margin:0;
  padding:0;
  background-color: #ffeeee;
}

.main-header {
  position: relative;
    display: table;
    width: 100%;
    min-height: 30%;
    margin-bottom: 5rem;
    text-align: center;
    background: #ffeeee no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.nav-top li {
  margin: 10px 20px;
  font-size: 1.25rem;
}

.nav-top a:hover {
  text-decoration: none;
  background-color: red;
  color: white;
}

.nav-top a.current {
  background-color: black;
  color:white;
}

.nav-bottom li {
  margin: 5px 10px;
  font-size: 0.875rem;
}

.nav-bottom a.current {
  background-color: grey;
  color:white;
}

.blog-list {
  width: 100%;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}

a.article {
  margin-bottom: 0.25rem;
  padding: 15px;
  display: block;
  -webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

a.article:hover {
  color: #333;
  background-color: #eff;
  text-decoration: none;
}

.article a:hover {
}

.article a {
  text-decoration: none;
}

.article h4 {
  /*color: $accent;*/
  color: #e8c;
}

.article span {
  margin:0;
  color: #444;
}

.date-index {
  text-transform: uppercase;
}

/*
.flexbox-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}*/

.bg-eff {
  background-color:#eff;
  border-top: 10px solid #e8c;
}

.bg-eff article {
  margin-top: 2.875rem;
}
