<footer class="main-footer">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col">
        {% if site.navbottom == true %}
          {% include nav.html navclass='nav-bottom' %}
        {% endif %}


        <span class="text-center">
          © Copyright Giorgio Spiga, 2017<!--
          -->{% if site.time | date:"%Y" == "2017" %}<!--
          -->.
          {% else %}
          - {{ site.time | date:"%Y" }}.
          {% endif %}
        </span>
      </div>

    </div>
  </div>
</footer>
