<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.layout == "post" %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}{% else %}{{ site.description }}{% endif %}">
  <!--<meta name="keywords" content="">-->
  <meta name="author" content="{% if site.data.authors[page.author].name %}{{ site.data.authors[page.author].name }}{% else %}{{ site.author.name }}{% endif %}">
  <meta property="og:title:" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if layout == "post" %}{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt }}{% endif %}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
  <meta property="og:image" content="{% if page.coverimg %}{% if page.coverimg.sourcet %}{{ page.coverimg.sourcet | prepend: site.baseurl }}{% else %}{{ page.coverimg.source | prepend: site.baseurl }}{% endif %}{% else %}{{ site.logo4 | prepend: site.baseurl}}{% endif %}">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/css/bs/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?{{ site.time | date: "%Y%m%d%H%M" }}">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Lato|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
  {% feed_meta %}
</head>
