
  {% if page.image.source != null %}
  <figure class="figure">
    <a data-fancybox="gallery" href="{{ site.baseurl }}{{ site.imgsource }}{{ page.image.source }}">
      <img src="{{ site.baseurl }}{{ site.imgsource }}{{ page.image.source }}" class="figure-img img-fluid rounded" alt="{{ post.image.alt }}">
    </a>
  </figure>
  {% elsif page.image.rsource != null %}
  <figure class="figure">
    <a data-fancybox="gallery" href="{{ page.image.rsource }}">
      <img src="{{ page.image.rsource }}" class="figure-img img-fluid rounded" alt="{{ post.image.alt }}">
    </a>
  </figure>
  {% else %}
  <div class="mb-4">

  </div>
  {% endif %}
