<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-9 col-lg-8">
      <ul class="blog-list flexbox-container my-4">
  {% for post in paginator.posts %}

  <li>

    <a class="article" href="{{site.baseurl}}{{post.url}}">
      <h4>{{post.title | capitalize }}</h4>
      <span class="date-index">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
        {% when '1' %}gennaio
        {% when '2' %}febbraio
        {% when '3' %}marzo
        {% when '4' %}aprile
        {% when '5' %}maggio
        {% when '6' %}giugno
        {% when '7' %}luglio
        {% when '8' %}agosto
        {% when '9' %}settembre
        {% when '10' %}ottobre
        {% when '11' %}novembre
        {% when '12' %}dicembre
        {% endcase %}
        {{ post.date | date: "%Y" }}</span>
      <span>{% if post.description %} • {{ post.description }}{% else %} • {{ post.excerpt | strip_html }}{% endif %}</span>
    </a>

  </li>

  {% endfor %}
</ul>

{% include pagingen.html %}

</div>
</div>
</div>
