<!-- Pagination links -->
<nav id="paglinksposts" class="paglinks my-2" aria-label="Page navigation">
  <ul class="pagination pagination-lg justify-content-end">
    {% if page.previous.url %}
    <li class="page-item mr-auto">
      <a class="page-link py-5" href="{{ site.baseurl }}{{ page.previous.url }}" tabindex="-1"><h6><small>{{ site.prevpost }}</small></h6><span>&laquo{{ page.previous.title }}</span></a>
    </li>
    {% else %}
    <li class="page-item disabled mr-auto">
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="page-item">
      <a class="page-link py-5" href="{{ site.baseurl }}{{ page.next.url }}"><h6><small>{{ site.nextpost }}</small></h6><span>{{ page.next.title }}&raquo</span></a>
    </li>
    {% else %}
    <li class="page-item disabled">
    </li>
    {% endif %}
  </ul>
</nav>
