<ul class="row no-gutters list-unstyled">
  {% for ricetta in site.cucina-grossa %}
  {% if ricetta.type == include.type %}

  <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a class="recipe-card" href="{{ site.baseurl}}{{ ricetta.url }}">
      <div class="card mb-3">
        <img class="card-img-top mantainasprat" src="{{ site.baseurl }}{{ site.reccoverpath }}{{ ricetta.cover }}" alt="Card image cap">
        <div class="card-block recipe-card-text">
          <h4 class="card-title">{{ ricetta.title }}</h4>
          <p class="card-text">{{ ricetta.meta }}</p>
          <p class="card-text text-uppercase"><small class="text-muted">{{ ricetta.servingtime }} • per {{ ricetta.servings }} persone</small></p>
        </div>
      </div>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
