/* Post */
.bg-eff {
  background-color: $bg-postlist;
  border-top: 10px solid $accent-color-fdl;
  padding: 40px 0 0 0;
}

article {
  width: 98%;
  margin:0 auto 7px auto;

  .container {
    width:100%!important;
  }

	header {
		h1 {
			font-family: $title-font-family;
			font-size: $base-font-size*2;

      a:hover {
        color: $accent-color-fdl;
        text-decoration: none;
        border-bottom: 1px dashed $accent-color-fdl;
      }
		}
    @include media-breakpoint-up(sm) {
      h1 {
        font-size: $base-font-size*2.5;
      }
    }

    @include media-breakpoint-up(md) {
      h1 {
        font-size: $base-font-size*3;
      }
    }

    @include media-breakpoint-up(lg) {
      h1 {
        font-size: $base-font-size*3.5;
      }
    }
	}

	section {
    font-size:$base-font-size*1.25;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

  #postcontent {


    p {
      width: 94%;
      margin-left: auto;
      margin-right: auto;
      font-size: $base-font-size*1.125;


      ul, blockquote {
        @extend p;
        margin-bottom: 2px;
      }

      a {
    		color:$accent-color;
    		border-bottom: 1px dashed;
    	}
    	a:hover {
    		color:$accent-color-fdl;
    		border-bottom: 1px solid;
    		text-decoration:none;
    	}
    }

    @include media-breakpoint-up(sm) {
      p {
        font-size: $base-font-size*1.25;
        width: 550px;
        margin: 0 auto 8.5px auto;


      }
      ul, blockquote {
        @extend p;
        margin-bottom: 2px;
      }
      blockquote {
        background-color: $gray-lighter;
        color: $gray-dark;
        opacity: 0.75;
        padding: 15px;

        width: 100%!important;
        margin: 10px 0;
        text-align: right;
        border-radius: 3px;

        p {
          width: 98%!important;
          margin-left: auto;
          margin-right: auto;
          font-size: 1.125em;
        }
      }

    }

    @include media-breakpoint-up(md) {
      p {
        width: 620px;
        font-size: $base-font-size*1.28;
        line-height: 1.7rem;
        margin-bottom: 11px;
      }
      ul, blockquote {
        @extend p;
        margin-bottom: 2px;
      }
    }

    @include media-breakpoint-up(lg) {
      p {
        font-size: $base-font-size*1.3;
        line-height: 1.8rem;
        margin-right: 0;
      }
      ul, blockquote {
        @extend p;
        margin-bottom: 2px;
      }
    }
  }
}

.lead {
	font-size: $base-font-size*1.35;
	color: $gray;
	text-shadow: 1px 0px 1px rgba(215, 215, 215, 1);
}


.aftpst {
  width: 12px;
  height: 12px;
  background-color: $accent-color-fdl;
  border-radius: 100%;
  box-shadow: 1px, 1px, 1px, (123,123,123,0.5);
}
@include media-breakpoint-up(lg) {
  section#post-imgcover {
    text-align: left;
  }
}
