/* Post */
.bg-eff {
  background-color:#eff;
  border-top: 10px solid #e8c;
}


article {

	header {
		h1 {
			font-family: $title-font-family;
			font-size: 3rem;
		}
	}

	section {
    font-size:$base-font-size*1.25;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}

  #postcontent {
    a {
  		color:$accent-color;
  		border-bottom: 1px dashed;
  	}
  	a:hover {
  		color:$accent-color-fdl;
  		border-bottom: 1px solid;
  		text-decoration:none;
  	}
  }
}

.lead {
	font-size: $base-font-size*1.1375;
	color: $gray;
	text-shadow: 1px 0px 1px rgba(215, 215, 215, 1);
}
