/* RECIPElist */
header.header-grossalist {
  background-color: $accent-color-fdl;
  &:hover {
    background-color: $accent-color;
  }
  a {
    color: $gray-lighter;

  }
}
.bg-grossa {
  background-color: $bg-postlist;
}

a.recipe-card:hover {
  background-color: $gray-dark;
  text-decoration: none!important;
}

.mantainasprat {
  max-height:100%;
  max-width:100%;
}
