/* Nav */

.nav-top {
	li {
	  font-size: 1.275rem;

		a {
			padding: 3px;
			color: $gray-dark;
			text-shadow: 1px 0px 326px rgba(225, 225, 225, 0.995);
			border: 1px solid $gray-dark;
			border-radius: 5%;
		}

		a:hover {
		  color: $gray-dark;
			text-decoration: none;
			background-color: $gray-lightest;
		}
	}
}

.nav-bottom {

	background-color: $accent-color;
	text-align: center;

	li {
	  font-size: 0.875rem;
	}

	a.current {
		color: $gray;
	}
}

.form-top {
	display: none;
}
