/* Pagination */

nav.paglinks {

	 ul {

		 li {
			 width:50%;


			 a {
				 color: $accent-color;
				 text-shadow: 1px 0px 1px rgba(231, 231, 231, 0.5);
				 text-align: center;
				 font-size: $base-font-size*1.25;
				 border-radius: 5px;
				 border: 1px solid transparent;
				 text-decoration:none;
				 background-color: transparent;


				 &:hover {
					 color: $gray;
					 background-color: transparent;
					 border: 1px solid transparent;
					 text-decoration:none;

				 }
				 h6 {
					 small {
						 text-transform: uppercase;
						 color: $gray;

						 &:hover {
							 color: $gray-light;
						 }
					 }


				 }
			 }
		 }
	 }
}
