---
layout: default
---
<div class="container mt-3">
  <div class="row no-gutters">
    <div class="col">
      <h1 class="text-center">Cucina Grossa</h1>
    </div>
  </div>
</div>

<div class="container-fluid mt-1">
  <h2 title="Antipasti">Antipasti</h2>

  {% include tipi_ricette.html type='ap' %}

  <h2>Primi</h2>

  {% include tipi_ricette.html type='primo' %}

  <h2>Dolci</h2>

  {% include tipi_ricette.html type='dolce' %}

  <h2>Dolci sardi</h2>

  {% include tipi_ricette.html type='dolces' %}

</div>

{% for ricetta in site.ricette %}
{% endfor %}
