---
layout: default
---
<div class=' header-image gradient-overlay'>
  <div class='header-image__image' style="background-image: url('https://unsplash.it/800/530/?random')">
    <div class='header-image__content'>
      <div class='header-image__content__container'>
        <h1>Full height big mama header</h1>
        <p>Some meta</p>
      </div>
    </div>
  </div>
</div>
<div class='containerzz'>
  <p>
    Redesigning
    <a href='blog.alienlebarge.ch'>
      my blog
    </a>
    . I wanted something with full height images. Here's the result...
  </p>
  <h2>Changelog</h2>
  <dl>
    <dt>Version 0.0.1</dt>
    <dd>2014-07-22 - Release</dd>
    <dt>Version 0.0.2</dt>
    <dd>2014-07-22 - Update docs in HTML</dd>
    <dt>Version 0.0.3</dt>
    <dd>2014-07-24 - extract <code>.gradient-overlay</code> class</dd>
    <dt>Version 0.0.4</dt>
    <dd>Force scrolling on iOS</dd>
  </dl>
  <h2>Things to do &amp; possible improvements</h2>
  <ul>
    <li>Fix <code>article</code>'s height to be <code>height: 100%</code> and cause element to scroll up when arriving at the bottom of the page (<a href="https://cl.ly/image/2c381y402V38" target="_blank">gifs</a>).</li>
    <li>Responsive background images</li>
    <li>add medium fadding effect on scroll</li>
    <li>add medium blur effect on scroll</li>
  </ul>
</div>
