/* Palette color codes */


$color-light: #aaa;
$color-primary: #ddd;
$color-secondary: #666;
$color-dark: #333;
$accent-color: #e8c;
$accent-color-fdl: #e8a;
$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #636c72;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;



/* Font settings */
$base-font-size:16px;
$base-font-family:"Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-color:$color-dark;
$title-font-family:"Lato", Verdana, Arial, sans-serif;
$serif-font-family: "Droid Serif", Georgia, serif;
