/* Palette color codes */


$color-light: #D1E7DB;
$color-primary: #4E996F;
$color-secondary: #003e1b;
/* 013F1C  not anymore*/
$color-dark: #002410;
$color-accent: #0F5B30;
$color-accent-fdl: #EE88AA;

/* Font settings */
$base-font-size:16px;
$base-font-family:"Source Sans Pro","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:$color-secondary;
$title-font-family:"Montserrat", Verdana, Arial, sans-serif;

/* Showcase Area */
$showcase-height:400px;
$showcase-image:'../img/sc2i2.png';